<div class="grid">
	<div class="grid-sizer"></div>
	<div class="grid-item"><img src="/honour/honour-015.jpg">2023年端午节‘善雅劳动小能手’</div>
	<div class="grid-item"><img src="/honour/honour-014.jpg">英语活动周‘单词大比拼’一等奖</div>
	<div class="grid-item"><img src="/honour/honour-013.jpg">英语活动周‘才艺展示’二等奖</div>
	<div class="grid-item"><img src="/honour/honour-012.jpg">最美防疫人演讲比赛二等奖</div>
	<div class="grid-item"><img src="/honour/honour-011.jpg">学习之星‘2019-2020’阳光美语</div>
	<div class="grid-item"><img src="/honour/honour-010.jpg">学习标兵‘2019-2020’阳光美语</div>
	<div class="grid-item"><img src="/honour/honour-009.jpg">优秀学生‘2019-2020’学年度</div>
	<div class="grid-item"><img src="/honour/honour-008.jpg">感恩之心‘2018-2019’学年度</div>
	<div class="grid-item"><img src="/honour/honour-007.jpg">灵秀少年‘2018-2019’学年度</div>
	<div class="grid-item"><img src="/honour/honour-006.jpg">二年级男子1分钟跳绳一等奖</div>
	<div class="grid-item"><img src="/honour/honour-005.jpg">学习标兵‘2018-2019’学年度</div>
	<div class="grid-item"><img src="/honour/honour-004.jpg">国学之星‘2019-2020’学年度</div>
	<div class="grid-item"><img src="/honour/honour-003.jpg">优秀学生‘2019-2020’学年度</div>
	<div class="grid-item"><img src="/honour/honour-002.jpg">经典诵读区级优异者</div>
	<div class="grid-item"><img src="/honour/honour-001.jpg">校庆建国‘70’周年演讲比赛二等奖</div>

</div>
{{- $jsscript := resources.Get "js/masonry.pkgd.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $jsscript.Permalink }}" integrity="{{ $jsscript.Data.Integrity }}"></script>
<script>
window.onload=function(){
  var grid = document.querySelector('.grid');
  var msnry = new Masonry( grid, {
    itemSelector: '.grid-item',
    columnWidth: '.grid-sizer',
    gutter: 10,
  });
};
</script>